@media screen and (min-device-width: 1281px) {
    body{
    background-image: url("PosterFinal.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-attachment: scroll;
    color: white;
    font-family: "微軟正黑體", helvetica;
    background-color: black;
    margin-top : 250px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }
}
@media screen and (max-device-width: 1280px) {
    body{
    background-image: url("PosterFinal.jpg");
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-position: center center;
    background-attachment: scroll;
    color: white;
    font-family: "微軟正黑體", helvetica;
    background-color: black;
    margin-top : 0px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }
}

.title-img img{
  display: inline-block;
}

.intro{
  height: 100%;
  width : 100%;
}

button{
  height: 50px;
  width : 200px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: orange;
  background-color: black;
  border-color: black;
  transition: background 0.3s linear;
}

button:hover{
  color: orange;
  background-color: red;
  border-color: black;
  cursor: pointer;
  transition: background 0.3s linear;
}

.video{
  height: 225px;
  width : 400px;
  opacity: 0.1;
  display: inline-block;
  transition: opacity 0.3s linear;
}

.video:hover{
  opacity:1;
  transition: opacity 0.3s linear;
}

span{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 20px;
}

.img{
  display: inline-block;
  width  : 320px;
  height : 180px;
  opacity: 0.1;
  border-radius: 20px;
  transition: opacity 0.3s linear;
  z-index: 1;
  margin-right: auto;
  margin-left: auto;
}
.img:hover{
  opacity: 1;
  transition: opacity 0.3s linear;
  border-radius: 20px;
  z-index: 1;
}
.img:active{
  transform:scale(2);
  transition: transform 0.2s linear;
}
